<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>855914831593-lmqtcsmegbfr6lhr0lgteinnl7egi70p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855914831593-lmqtcsmegbfr6lhr0lgteinnl7egi70p</string>
	<key>API_KEY</key>
	<string>AIzaSyCoCE7uGHPmp9is87REXBEf-A4gp4mr7nI</string>
	<key>GCM_SENDER_ID</key>
	<string>855914831593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.viettel.vtcc.va.internal</string>
	<key>PROJECT_ID</key>
	<string>virtual-assistant-gcm</string>
	<key>STORAGE_BUCKET</key>
	<string>virtual-assistant-gcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855914831593:ios:159d01cbbac03477</string>
	<key>DATABASE_URL</key>
	<string>https://virtual-assistant-gcm.firebaseio.com</string>
</dict>
</plist>